.container {
    display: flex;
    margin-top: 10px;
}


.link {
    text-decoration: none;
    color: inherit;
}

input:-internal-autofill-previewed,
input:-internal-autofill-previewed:hover,
input:-internal-autofill-previewed:focus,
input:-internal-autofill-previewed:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}